@model ValoracionEmpresa

@{
    ViewData["Title"] = "Detalle de valoracion";
}

<div class="container pt-2 mt-2 pb-3 rounded-3 pl-5 px-5" id="titPublicacion">
    <div class="card mt-2 text-center rounded-4">
        <div class="card-body rounded-4 bgp">
            <h2>@Model.Usuario</h2>
        </div>
    </div>
    <div class="card mb-2 mt-5 rounded-4">
        <div class="card-body rounded-4 bgp">
            <h5 class="card-title">Informacion general:</h5>
            <p class="card-text">@Model.Empresa</p>
        </div>
    </div>
    <div class="card mb-2 rounded-4">
        <div class="card-body rounded-4 bgp">
            <h5 class="card-title">Objetivo del puesto:</h5>
            <p class="card-text">@Model.Comentario</p>
        </div>
    </div>

    <div class="card mb-2 rounded-4">
        <div class="card-body rounded-4 bgp">
            <h5 class="card-title">Habilidades técnicas:</h5>
            <p class="card-text">@Model.Calificacion</p>
        </div>
    </div>
</div>


