@model webFinal.Models.Empresa

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center" style="background-image: url('/src/img/fondo-add.jpg'); color: #213555;">
    <div class="col-md-6">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="card text-center" style="background-color:#F5EFE7">
            <div class="card-body">

                <h3>
                    @Html.DisplayFor(model => model.Nombre)
                </h3>
                <h5>¿Estas seguro de eliminar tu cuenta?</h5>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdEmpresa" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                    <input type="submit" asp-action="Details" asp-route-id="@Model.IdEmpresa" value="Cancelar" class="btn btn-primary" />
                </form>


            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>
